<div class="animated fadeIn">
  <br>

  <!-- <div class="row">
    <div class="col-md-6 offset-md-2">
      <h4>Work Requests</h4>
    </div>

  </div>
  <div class="row">
    <div class="col-md-2 col-sm-4 offset-md-2"[routerLink]="['/engineer/workrequest']">
      <div class="card">
        <div class="card-block card-primary text-center">
          <div class="text-uppercase font-weight-bold">New</div>
          <div class="h2 py-3">10</div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-4">
      <div class="card">
        <div class="card-block card-warning text-center" [routerLink]="['/engineer/workrequest']">
          <div class="text-uppercase font-weight-bold">Open</div>
          <div class="h2 py-3">2</div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-4">
      <div class="card">
        <div class="card-block card-success text-center" [routerLink]="['/engineer/workrequest']">
          <div class="text-uppercase font-weight-bold">Verified</div>
          <div class="h2 py-3">5</div>
        </div>
      </div>
    </div>
    <div class="col-md-2 col-sm-4">
      <div class="card">
        <div class="card-block card-danger text-center" [routerLink]="['/engineer/workrequest']">
          <div class=" text-uppercase font-weight-bold">Cancelled</div>
          <div class="h2 py-3">0</div>

        </div>
      </div>
    </div>
     <div class="card-block">
     </div>
  </div> -->


  <div class="row">
    <div class="col-md-6 offset-md-2">
      <h4>Work Orders</h4>
    </div>

  </div>
  <div class="row">
    <div class="col-md-2 col-sm-4 offset-md-2" >
      <div class="card">
        <div class="card-block card-primary text-center" [routerLink]="['/helpdesk/workorder']">
          <div class="text-uppercase font-weight-bold">New</div>
          <div class="h2 py-3">5</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-2 col-sm-4">
      <div class="card">
        <div class="card-block card-warning text-center" [routerLink]="['/helpdesk/workorder']">
          <div class="text-uppercase font-weight-bold">In Progress</div>
          <div class="h2 py-3">2</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-2 col-sm-4">
      <div class="card">
        <div class="card-block card-success text-center" [routerLink]="['/engineer/workorder']">
          <div class="text-uppercase font-weight-bold">Closed</div>
          <div class="h2 py-3">3</div>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-2 col-sm-4">
      <div class="card">
        <div class="card-block text-center card-quotation" [routerLink]="['/engineer/workorder']">
          <div class=" text-uppercase font-weight-bold">Quotations</div>
          <div class="h2 py-3">2</div>
        </div>
      </div>
    </div><!--/.col-->
  </div>
  <hr>
  <br>
  <div class="row">
      <div class="col-md-8 offset-md-2">
      <div class="card ">
        <div class="card-header">
          <strong>Latest Management Announcements</strong>
        </div>
        <div class="card-block">
          <table class="table table-sm">
            <tr>
              <th width="100px">Date</th>
              <th width="300px">Announcement</th>
            </tr>
            <tr>
              <td>25/5/2017</td>
              <td>Temporary closing of parking bay Block G due to maintenance</td> 
            </tr>
            <tr>
              <td>23/5/2017</td>
              <td>Window cleaning activity on West Wing of Shenzen Mall</td>
            </tr>
            <tr>
              <td>12/2/2017</td>
              <td>Escalator maintenance work on North Wing 2nd Floor Shenzen Mall</td>
            </tr>
          </table>
          <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active"><a class="page-link" href="#/admin/user">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
        </div>
      </div>
      </div>
      </div>
</div>


