<div class="row">
  <div class="col-sm-12">
    <div class="card" style="background-color:white;">
      <div class="card-block">
          <div class="col-sm-12">
          <table style="width:70%" align="center">
          <tr style="background-color:white;">
          <td width="90%">                
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary"><i class="fa fa-search"></i> Search</button>
            </span>
            <input type="text" id="input1-group2" name="input1-group2" class="form-control" placeholder="Search by date/announcement">
            </div></td>
          </tr>
          </table>
          </div>
      </div>
    </div>
  </div><!--/.col-->
</div>
<div class="row">
<div class="col-lg-6">
<div class="card">
  <div class="card-header">
    <strong>Latest Management Announcements</strong><i  class="fa fa-plus-circle pull-right" style="font-size:25px;" [routerLink]="['/admin/dashboard3/new']"></i>
  </div>
  <div class="card-block">
    <table class="table table-sm">
      <tr>
        <th width="100px">Date</th>
        <th width="300px">Announcement</th>
      </tr>
      <tr>
        <td>25/5/2017</td>
        <td>Temporary closing of parking bay Block G due to maintenance</td> 
      </tr>
      <tr>
        <td>23/5/2017</td>
        <td>Window cleaning activity on West Wing of Shenzen Mall</td>
      </tr>
      <tr>
        <td>12/2/2017</td>
        <td>Escalator maintenance work on North Wing 2nd Floor Shenzen Mall</td>
      </tr>
    </table>
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Prev</a></li>
        <li class="page-item active"><a class="page-link" href="#/admin/user">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </div>
</div>
</div>
<div class="col-lg-6">
    <router-outlet></router-outlet>
</div>
</div>