<div class="row">
<div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Add New Announcement</strong>
      </div>
      <br>
  
          <div class="card-block">
              <div class="col-md-10">
              <div class="form-group">
                <label for="user_email">Announcement:</label>
               <input type="text" class="form-control" id="team_name" placeholder="Announcement">
              </div>
          </div>
        </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary pull-right" [routerLink]="['/admin/dashboard3']">Submit</button>
          </div>
    </div>
  </div>
  </div>